# dependencies
/node_modules

# production
/.next
/out

# testing
/coverage

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# next.js build output
.next/

amplifyconfiguration.json

amplify_outputs.json
**/amplify_outputs*

.amplify
*storybook.log
storybook-static
